<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://solumedios-001-site1.mywindowshosting.com</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://solumedios-001-site1.mywindowshosting.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>solumedios-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\solumedios-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="dbPresupuestosEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5002.myWindowsHosting.com;Initial Catalog=DB_9D8714_invent;User ID=DB_9D8714_invent_admin;Password=A1b2c3d4;Application Name=EntityFramework" Name="Data Source=SQL5002.myWindowsHosting.com;Initial Catalog=DB_9D8714_invent;User ID=DB_9D8714_invent_admin;Password=A1b2c3d4;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Presupuestos.Models.dbPresupuestosEntities, Presupuestos" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="conn" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL5002.myWindowsHosting.com;Initial Catalog=DB_9D8714_invent;User ID=DB_9D8714_invent_admin;Password=A1b2c3d4;Application Name=EntityFramework" Name="Data Source=SQL5002.myWindowsHosting.com;Initial Catalog=DB_9D8714_invent;User ID=DB_9D8714_invent_admin;Password=A1b2c3d4;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SQL5002.myWindowsHosting.com;Initial Catalog=DB_9D8714_invent;User ID=DB_9D8714_invent_admin;Password=A1b2c3d4" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\conn_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=SQL5002.myWindowsHosting.com;Initial Catalog=DB_9D8714_invent;User ID=DB_9D8714_invent_admin;Password=A1b2c3d4" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)conn-Web.config Connection String">
      <ParameterValue>Data Source=SQL5002.myWindowsHosting.com;Initial Catalog=DB_9D8714_invent;User ID=DB_9D8714_invent_admin;Password=A1b2c3d4;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)dbPresupuestosEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.MPresupuesto.csdl|res://*/Models.MPresupuesto.ssdl|res://*/Models.MPresupuesto.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL5002.myWindowsHosting.com;Initial Catalog=DB_9D8714_invent;User ID=DB_9D8714_invent_admin;Password=A1b2c3d4;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>