
@{
    ViewBag.Title = "ActualizaDetalleProyecto";
}

<br />
<br />
<h1>Detalle de proyecto creado Existosamente</h1>

<br />
<br />

<div>
    @Html.ActionLink("Regresar a la Lista", "Index")
</div>

